.cv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    width: 21cm;
    height: auto;
    background-color: white;
    margin-left: 25%;
    font-family: 'Geneva', Times, serif;
}

.titles {
    grid-column: 1 / 3;
    grid-row: 1;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 19cm;
    height: 2.85cm;
    border: 3px;
    border-style: solid;
    border-color: black;
    background-color: #757AB2;
}

.titles h1 {
    margin: 4px;
    font-size: 2.5em;
}

.titles h3 {
    margin: 4px;
    font-size: 1.5em;
    font-weight: normal;
}

.profile {
    grid-column: 1 / 3;
    grid-row: 2;
    display: grid;
    width: 19cm;
    height: 8cm;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    border: 3px;
    border-style: solid;
    border-color: black;
}

.profile .list-titles {
    font-weight: bold;
}

.profile-bar {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    background-color: #757AB2;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 3px;
    border-style: solid;
    border-color: black;
    height: 1.4cm;
    align-content: center;
}

.profile-bar h4 {
    margin-left: 3%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.5em;
}

#profile-photo {
    grid-column: 1;
    grid-row: 2 / 4;
    max-width: 80%;
    max-height: 80%;
    border: 2px;
    border-style: solid;
    border-color: black;
    place-self: center;
}

.profile a {
    color: black;
    text-decoration: none;
}

.profile a:hover {
    text-decoration: underline;
}

.coordinates {
    grid-column: 2;
    grid-row: 2 / 4;
}

.coordinates li {
    list-style-type: none;
    margin-left: 5px;
    margin-top: 15px;
}

.links {
    grid-column: 3;
    grid-row: 2;
}

.links a {
    color: black;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.links li {
    margin-left: 5px;
}

.links li::marker {
    color: #757AB2;
}

.languages {
    grid-column: 3;
    grid-row: 3;
}

.languages li {
    list-style-type: none;
}

.lang {
    color: #757AB2;
}

.experiences {
    grid-column: 1;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(3, 1fr);
    border: 3px;
    border-style: solid;
    border-color: black;
}

.experiences .experiences-bar {
    align-content: center;
    grid-column: 1;
    grid-row: 1;
    background-color: #757AB2;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 3px;
    border-style: solid;
    border-color: black;
    height: 1.11cm;
}

.experiences-bar h4 {
    margin-left: 3%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.2em;
}

.experiences .first-xp {
    grid-column: 1;
    grid-row: 2;
}

.experiences .second-xp {
    grid-column: 1;
    grid-row: 3;
    border-top: 3px dotted black;
}

.experiences .third-xp {
    grid-column: 1;
    grid-row: 4;
    border-top: 3px dotted black;
}



