.nav-bar-container {
  border-radius: 8%;
  background: black;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  list-style: none;
}
